# Python Loops
- For loop
- While Loop

In [9]:
# Re-useability
# Reduce Line of Code
# Well Structure

In [10]:
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

### For Loop

In [1]:
for num in range(1,10):
    print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [12]:
for num in range(1,10,2):    # (Start,end-1,step)
    print(num,'Hello World')

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [13]:
for num in range(10,0,-2):
    print(num)

10
8
6
4
2

In [14]:
for char in 'Pakistan':
    print(char)

P
a
k
i
s
t
a
n

In [15]:
for item in ['keyboard','Mouse','Computer','LCD']:
    print(item.upper())

KEYBOARD
MOUSE
COMPUTER
LCD

In [16]:
for num in 5005:
    print(num)

TypeError: 'int' object is not iterable

In [17]:
for num in '5005':
    print(num)

5
0
0
5

In [8]:
type(num)

str

In [2]:
items = ['Keyboard','Mouse','Joystick','Headphone','Monitor','Headfree','USB']

In [3]:
for item in items[0:4]:
    print(item.upper())

KEYBOARD
MOUSE
JOYSTICK
HEADPHONE

In [4]:
items = ['Bag','SSD','RAM','GPU','Keyboard','Mouse','Joystick','Headphone','Monitor','Headfree','USB']

In [5]:
items

['Bag',
 'SSD',
 'RAM',
 'GPU',
 'Keyboard',
 'Mouse',
 'Joystick',
 'Headphone',
 'Monitor',
 'Headfree',
 'USB']

In [7]:
for item in items:
    if item.endswith('e'):
        print(item)

Mouse
Headphone
Headfree

In [8]:
for item in items:
    if item.startswith('M'):
        print(item)

Mouse
Monitor

In [7]:
# First Condition
for item in items:
    if (item.endswith('e')) and (len(item)>5):
        print(item)

Headphone
Headfree

In [18]:
# Second Condition
for item in items:
    if (item[-1]=='e') and (len(item)>5):
        print(item)

Headphone
Headfree

In [19]:
for item in items:
    if (item[-1]=='e') or (len(item)<5):
        print(item)

Bag
SSD
RAM
GPU
Mouse
Headphone
Headfree
USB

Task: We need to make a list of friends to invite in a party.
    take friends name as input and add in guest list.

In [8]:
# Without Loop task
fnd1=input("Enter Friends Name: ")
fnd2=input("Enter Friends Name: ")
fnd3=input("Enter Friends Name: ")
fnd4=input("Enter Friends Name: ")
fnd5=input("Enter Friends Name: ")
guest_list=[fnd1,fnd2,fnd3,fnd4,fnd5]
guest_list

Enter Friends Name: kawish
Enter Friends Name: Arsal
Enter Friends Name: Kashif
Enter Friends Name: Nabeel
Enter Friends Name: Ali

['kawish', 'Arsal', 'Kashif', 'Nabeel', 'Ali']

In [9]:
# with loop
guest_list1=[]
for i in range(5):
    name=input("Please Enter your name")
    guest_list1.append(name)
print(guest_list1)

Please Enter your namekawish
Please Enter your nameShabbir
Please Enter your nameIman
Please Enter your nameShahid
Please Enter your nameAsghar
['kawish', 'Shabbir', 'Iman', 'Shahid', 'Asghar']

### Break , Continue

In [3]:
# Break Example
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [31]:
for i in range(10):
    print(i)    
    if i==5:    
        break

0
1
2
3
4
5

In [29]:
# Continue Example
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

Task: take 10 integers as input and find the sum of all integer supplied.

In [60]:
sum=0
for no in range(10):
    number=int(input('Enter The Number:'))
    sum= sum+number
print(f'The sum of total Number is: {sum}')

Enter The Number:12
Enter The Number:23
Enter The Number:45
Enter The Number:67
Enter The Number:56
Enter The Number:34
Enter The Number:67
Enter The Number:45
Enter The Number:67
Enter The Number:45
The sum of total Number is: 461

In [10]:
nums = input('Enter Number of your choice comma separated: ').split(',')
tot=0
for num in nums:
        tot+=int(num)
print(f'The sum of total Number is: {tot}')

Enter Number of your choice comma separated: 12
The sum of total Number is: 12

## While loop

In [2]:
a=0
while a<=10:  # True
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

In [4]:
a=10
while a>=-10:
    print(a)
    a-=1

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [4]:
myguests=[]

flag=True
while flag:
    guestsName=input("Enter a guest name or pess 'q' to exit: ")
    if guestsName=='q':

        flag=False
    else:
        myguests.append(guestsName)
myguests

Enter a guest name or pess 'q' to exit: kaw
Enter a guest name or pess 'q' to exit: fgj
Enter a guest name or pess 'q' to exit: q

['kaw', 'fgj']

## List Comprehension

In [11]:
even=[]
for num in range(20):
    if num%2==0:
        even.append(num)
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
my_even=[num for num in range(20) if num%2==0]
print(my_even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [14]:
odds=[]
for num in range(20):
    if num%2!=0:
        odds.append(num)
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [16]:
my_odds=[num for num in range(20) if num%2!=0]
my_odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
my_odds=[num for num in range(20) if num%2!=0 if num>10]
my_odds

[11, 13, 15, 17, 19]

In [36]:
[(x,y) for x in range(5) for y in 'ABCDE' ]

[(0, 'A'),
 (0, 'B'),
 (0, 'C'),
 (0, 'D'),
 (0, 'E'),
 (1, 'A'),
 (1, 'B'),
 (1, 'C'),
 (1, 'D'),
 (1, 'E'),
 (2, 'A'),
 (2, 'B'),
 (2, 'C'),
 (2, 'D'),
 (2, 'E'),
 (3, 'A'),
 (3, 'B'),
 (3, 'C'),
 (3, 'D'),
 (3, 'E'),
 (4, 'A'),
 (4, 'B'),
 (4, 'C'),
 (4, 'D'),
 (4, 'E')]

In [38]:
[(x,y) for x in range(5) for y in 'ABC' if x>0 ]

[(1, 'A'),
 (1, 'B'),
 (1, 'C'),
 (2, 'A'),
 (2, 'B'),
 (2, 'C'),
 (3, 'A'),
 (3, 'B'),
 (3, 'C'),
 (4, 'A'),
 (4, 'B'),
 (4, 'C')]

### if else in list comprehension

### Nested For Loop

In [25]:
[f'{nu} is even'if nu%2==0 else f'{nu} is odd:'for nu in range(20)]

['0 is even',
 '1 is odd:',
 '2 is even',
 '3 is odd:',
 '4 is even',
 '5 is odd:',
 '6 is even',
 '7 is odd:',
 '8 is even',
 '9 is odd:',
 '10 is even',
 '11 is odd:',
 '12 is even',
 '13 is odd:',
 '14 is even',
 '15 is odd:',
 '16 is even',
 '17 is odd:',
 '18 is even',
 '19 is odd:']

In [5]:
for table_num in range(2,6):
    for num in range(1,11):
        print(f'{table_num} * {num} = {table_num*num}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
[a for a in range(1,100) if (a%7!=0 and a%5!=0)]

[1,
 2,
 3,
 4,
 6,
 8,
 9,
 11,
 12,
 13,
 16,
 17,
 18,
 19,
 22,
 23,
 24,
 26,
 27,
 29,
 31,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 41,
 43,
 44,
 46,
 47,
 48,
 51,
 52,
 53,
 54,
 57,
 58,
 59,
 61,
 62,
 64,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 76,
 78,
 79,
 81,
 82,
 83,
 86,
 87,
 88,
 89,
 92,
 93,
 94,
 96,
 97,
 99]

In [13]:

[a**2 for a in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
num= int(input('Enter a number: '))
power=num**2
print(f"The square root {num} is {power}:")

Enter a number: 4
The square root 4 is 16:

### Dictionary

In [10]:
adict={1,2,3}
aset={'name':'kaw'}

In [11]:
type(adict)

set

In [21]:
type(aset)

dict

In [22]:

# A dictionary has a key value pair

In [12]:
astudent={'name':'Kawish','Roll no': '123','Father_name':'Akber Ali'}

In [14]:
astudent.keys()

dict_keys(['name', 'Roll no', 'Father_name'])

In [25]:
# There is no indexing concept in dictionary

In [28]:
astudent['name']

'Kawish'

In [29]:
# add two member / new key in existing dict

In [30]:
astudent['gmail']='iamkawishakber@gmail.com'

In [31]:
astudent

{'name': 'Kawish',
 'Roll no': '123',
 'Father_name': 'Akber Ali',
 'gmail': 'iamkawishakber@gmail.com'}

In [35]:
# if we iterate directly on dictionary it will return key only
for a in astudent:
    print(a)

name
Roll no
Father_name
gmail

In [36]:
# if we iterate on dictionary.keys() it will return keys.
for a in astudent.keys():
    print(a)

name
Roll no
Father_name
gmail

In [41]:
# we can get value by key
for a in astudent.keys():
    print(a, astudent[a])

name Kawish
Roll no 123
Father_name Akber Ali
gmail iamkawishakber@gmail.com

In [44]:
# we can get values against keys by get()

In [49]:
for a in astudent.keys():
    print(astudent.get(a))

Kawish
123
Akber Ali
iamkawishakber@gmail.com

In [50]:
# We can get value directly
for vals in astudent.values():
    print(vals)

Kawish
123
Akber Ali
iamkawishakber@gmail.com

In [51]:
# if we need key & value together
for a in astudent.items():
    print(a)

('name', 'Kawish')
('Roll no', '123')
('Father_name', 'Akber Ali')
('gmail', 'iamkawishakber@gmail.com')