# Conditional Statments
 - Type Casting
 - User input
 - string concatenation
 - string format using >>(format(), f)
 - String 
 - if statement
 - else statement

### Type Casting

In [1]:
# int, float, bool,str
mark=90

In [2]:
print(type(mark))

<class 'int'>

In [3]:
float_mark=float(mark)
print(float_mark)
type(float_mark)

90.0

float

In [4]:
percentage=98.7
type(percentage)

float

In [5]:
int_percentage=int(percentage)

In [6]:
print(int_percentage)
type(int_percentage)

98

int

In [7]:
age='45'
print(type(age))
age

<class 'str'>

'45'

In [8]:
int_age=int(age)
print(age)

45

In [9]:
float_age=float(age)
print(float_age)

45.0

In [3]:
chr(67),ord("A")

('C', 65)

User Input
    * Console input
    * Runtime input
    * User input form console will always be an string value

In [11]:
input()

kawish

'kawish'

In [12]:
user_name=input("Please tell me your good name sir!")
print(user_name)

Please tell me your good name sir!kawish
kawish

In [13]:
user_name

'kawish'

In [14]:
user_age=input("Please Enter your age: ")

Please Enter your age: 12

String Concatenation

- Joining of two string together

In [15]:
fname="Kawish"
Lname="Akber"

In [16]:
age1=input("Enter")
type(age1)

Enterkawish

str

In [19]:
fname +  Lname

'KawishAkber'

In [22]:
"Asad"+str(16)

'Asad16'

In [23]:
name=input("Enter your Name:")
Year_of_birth=input("Enter your Birth of year")

print("Your name is "+ name+" and your year of birth is "+Year_of_birth)

Enter your Name:kawish
Enter your Birth of year23
Your name is kawish and your year of birth is 23

In [24]:
student_name=input("Enter your name")
student_age = input("Enter your age")

Enter your namekawi
Enter your age12

In [25]:
student_age+10
#  str       int

TypeError: can only concatenate str (not "int") to str

In [26]:
student_name=input("Enter your name")
student_age = int(input("Enter your age"))

Enter your namekawis
Enter your age23

In [27]:
student_age+10
# int        int

33

In [11]:
student_age=int(float(input("Enter your age")))

Enter your age23.5

In [12]:
student_age

23

In [33]:
student_name=input("Enter your name")
student_age = (input("Enter your age"))
print("Your name is "+student_name+" and your age is "+student_age)

Enter your namekawis
Enter your age23
Your name is kawis and your age is 23

String Formation
    -Format (value1,value2,....)
    -It is easier simpler than concatenation
    -It doesn't need type casting

In [26]:
student_name=input("Enter your name: ")
student_age = int(input("Enter your age: "))
print("Your name is {} and your age is student Age: {}".format(student_age,student_age))

# Place Holder{}

Enter your name: kawish
Enter your age: 12
Your name is 12 and your age is student Age: 12

In [27]:
print("ka{}is{}".format("w","h"))

kawish

In [28]:
student_name=input("Enter your name")
student_age = int(input("Enter your age"))
print("Your name is {0}and your age is student_age{1}".format(student_age,student_age))

# Place Holder{}

Enter your namekawish
Enter your age12
Your name is 12and your age is student_age12

#### String Format by f

In [38]:
student_name=input("Enter your name")
student_age = int(input("Enter your age"))
print(f"Your name is {student_name}and your age is student_age{student_age}")

Enter your namekawish
Enter your age23
Your name is kawishand your age is student_age23

String
       # string is immutable(unchangeable)

In [4]:
institute="SOSTTI"
type(institute)

str

In [5]:
institute.capitalize()

'Sostti'

In [6]:
institute.lower()

'sostti'

In [7]:
institute.upper()

'SOSTTI'

In [8]:
institute.count("S")

2

In [9]:
ins="Save our SOul Technical Training Institute"

In [10]:
ins[5]

'o'

In [11]:
ins[25]

'r'

In [12]:
ins.find('z')
# -1 means does not Exist

-1

In [13]:
ins.find('t')

36

In [14]:
ins.find('S',8)

9

In [16]:
institute.isalnum()

True

In [18]:
"3".isdigit()

True

In [24]:
len("Zindabad")

8

In [61]:
"Pakistan"==" Pakistan"

False

In [62]:
' Pakistan'.lstrip()

'Pakistan'

In [25]:
'Pakistan '.rstrip()

'Pakistan'

In [26]:
 '     Pakistan     '.strip()

'Pakistan'

In [27]:
ins

'Save our SOul Technical Training Institute'

In [28]:
ins[0]

'S'

In [29]:
ins[0]="S"

TypeError: 'str' object does not support item assignment

In [69]:
designation="Minister"

In [73]:
designation=designation.upper()

In [74]:
designation

'MINISTER'

## If Statement

Runing a code of block when some specific condition is satisfied

In [76]:
age=int(input("Enter age :"))
if age>18:
    print("Your are Young: ")

Enter age :34
Your are Youbg

In [77]:
tomato_price = int(input("Tamater kia hisab hen:"))
if tomato_price < 50:
    print("Give me 5kg")

Tamater kia hisab hen20
Give me 5kg

In [78]:
tomato_price = int(input("Tamater kia hisab hen"))
if tomato_price < 50:
    print("Give me 5kg")

Tamater kia hisab hen50

In [79]:
tomato_price = int(input("Tamater kia hisab hen"))
if tomato_price < 50:
    print("Give me 5kg.")
else:
    print("2KG")

Tamater kia hisab hen50
2KG