# Function
built in
user defined

# Built in

In [3]:
print("Hello")

Hello

In [4]:
len("Hellwww")

7

What is a function?
 Advantage : ---------> Code Reusability
                        code simplicity
                        Bug Resolving

In [5]:
# function defined
# function Call
# Result

# Defining a function

In [8]:
def function_name():
    #function_body
    #function_body
    #function_body
    #function_body
    print("I am body of my Function")

In [10]:
function_name()

I am body of my Function

In [14]:
# parameterLess Function
def greetUser():
    print("Welcome")

In [15]:
greetUser()

Welcome

# Parameter & Arguments
- Parameter are exoerted values given form user
- Argument are values that user supplies to function

In [13]:
# parameterize Function
def greetUser(userName): # Parameter
    print(f"Welcome {userName}")

In [13]:
greetUser("Mr.Bean")

Welcome Mr.Bean

In [20]:
def bio_data(Name,age,gender,Nationality,emailId,*Contact):
    print(f"""
          BIO DATA
          _________
          Name of Student:{Name}
          Age of Student: {age}
          Gender:{gender}
          Nationality:{Nationality}
          Email Address: {emailId}
          Contact No: {Contact}""")

In [21]:
# Positional Argument
bio_data("Kawish",22,"Male","Pakistani","iamkawishakber@gmail.com","03491253236",'0238475737456')

          BIO DATA
          _________
          Name of Student:Kawish
          Age of Student: 22
          Gender:Male
          Nationality:Pakistani
          Email Address: iamkawishakber@gmail.com
          Contact No: ('03491253236', '0238475737456')

In [19]:
bio_data('Arsal',22,'Male','Afghani','imarsaliqal@gmail.com',234566)

          BIO DATA
          _________
          Name of Student:Arsal
          Age of Student: 22
          Gender:Male
          Nationality:Afghani
          Email Address: imarsaliqal@gmail.com
          Contact No: 234566

In [43]:
def fullName(F_name,L_name,age):
    return F_name,L_name,age
    #print(f"{F_name} {L_name} {age}")

In [44]:
#fullName("kawish" ," Akber")

In [45]:
# keyword Arguments
fullName(23,'Kawish','Akber')

(23, 'Kawish', 'Akber')

In [46]:
def AreaOfTraingle(l,b):
    area = 0.5*l*b
    print(f"Area of Triangle is {area} sq.cm")

In [47]:
AreaOfTraingle(10,10)

Area of Triangle is 50.0 sq.cm

In [21]:
AreaOfTraingle(2,8)

Area of Triangle is 8.0 sq.cm

In [78]:
def taxCalculator(income):
    tax_amount=0
    if income >= 1000000:
        tax_per=20
        tax_amount=income*.20
        return tax_amount
    elif income >= 500000:
        tax_per=10
        tax_amount=income*.10
        return tax_amount
        
    elif income >= 250000:
        tax_per=5
        tax_amount=income*.05
        return tax_amount
        
    else:
        tax_amount= income*0
        return tax_amount

In [51]:
taxCalculator(250000)

12500.0

In [52]:
taxCalculator(500000)

50000.0

In [67]:
taxCalculator(2000000)

400000.0

In [79]:
def grossSalery(salary,tax):
    gross= salary-tax
    print(f"Gross Salary is {gross}")

In [85]:
grossSalery(700000,taxCalculator(700000))

Gross Salary is 630000.0

### Local Variable and Global Variable 
- Local variable : All the variables defined inside a function body are local and can not be accessed out side the function
- Global Variable: All the variables defined outside a function body are global and can be accessed outside as well as inside the function body

In [33]:
def abc():
    print("i am abc")
    a=1000  # Local variable
    print(a) # local variable accessed inside the function body

In [34]:
abc()

i am abc
1000

In [35]:
print(a) # local variable accessed out side the function body  >> error

NameError: name 'a' is not defined

In [36]:
gloabalvariable="I am Global "
def abc():
    print("I am abc")
    print(gloabalvariable)

In [37]:
abc()

I am abc
I am Global

In [38]:
gloabalvariable

'I am Global '

In [2]:
h=20
def xyz():
    global h
    h=10
    h+=1
    print(h)

In [39]:
xyz()

11

In [40]:
h

11

In [41]:
def add(num1,num2):
    return num1+num2

In [42]:
add(2,3)

5

In [44]:
res=add(4,5)
res

9

In [46]:
print(f"This is Returned {add(4,9)}")

This is Returned 13

In [51]:
def Square_Cube(num):
    s= num**2
    c=num**3
    return s,c

In [60]:
square,cube = Square_Cube(3)

9

In [53]:
a=(100,200) # packing

In [61]:
print(square)

9

In [62]:
print(cube)

27

# Defualt Value

In [63]:
print("Nasir")

Nasir

In [66]:
def salaryCalc(basic,commision=1200):   # defualt value must be last parameter
    total = basic + commision
    return total

In [67]:
salaryCalc(10000,2300)

12300